img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline-block;
}

#emoji-modal {
  padding: 0px;
  min-width: unset;
  width: unset !important;

  .modal-header {
    display: none;
  }

  .modal-content {
    margin-top: 0px;
  }

  .button {
    background-color: unset;
    border: 0px !important;
    box-shadow: 0px !important;
  }

  .modal-close-button {
    visibility: hidden;
  }
}
