img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
  display: inline-block;
}

#emoji-modal {
  padding: 0px;
  min-width: unset;
  width: unset !important;
}

#emoji-modal > .modal-content {
  margin-top: 0px;
}

#emoji-modal > button {
  background-color: unset;
  border: 0px !important;
  box-shadow: 0px !important;
}

#emoji-modal > .modal-close-button {
  visibility: hidden;
}